---
layout: default
comments: true
---
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date: "%F" }}</p>
{% if page.last_edit %}<div><i>آخر تحديث كان في <span dir="ltr">{{ page.last_edit | date: "%F" }}</div></i></p>{% endif %}

<!--<div class="post">{{ content }}</div>-->

<!-- from https://github.com/cstack/db_tutorial -->


      {% for post in site.posts %}
          {% if post.url == page.url %}
              {% assign is_post = true %}
              {% assign post_index0 = forloop.index0 %}
              {% assign post_index1 = forloop.index %}
          {% endif %}
      {% endfor %}
      {% for post in site.posts %}
          {% if post_index0 == forloop.index %}
              {% assign prev_post = post %}
          {% endif %}
          {% if post_index1 == forloop.index0 %}
              {% assign next_post = post %}
          {% endif %}
      {% endfor %}

    <hr>
      {% if prev_post %}
          <a class="prev" href="{{site.baseurl}}{{ prev_post.url }}">{{prev_post.title}}</a> <br>
      {% endif %}
      {% if next_post %}
          <a class="next" href="{{site.baseurl}}{{ next_post.url }}">{{next_post.title}}</a> <br>
      {% endif %}
    <br>
    <hr>

    <p>{{ content }}</p>

    <blockquote class="note">
        <p><strong>ملاحظة</strong>: هذه المقالة تحت التحديث المستمر،، وملاحظاتكم وإقتراحاتكم ستساعد بإذن الله في إخراجها بالصورة التي كتبت من أجلها وهي تمهيد الطريق أمامكم لتعلم برمجة الأنظمة المدمجة </p>
    </blockquote>

    <hr>
      {% if prev_post %}
          <a class="prev" href="{{site.baseurl}}{{ prev_post.url }}">{{prev_post.title}}</a> <br>
      {% endif %}
      {% if next_post %}
          <a class="next" href="{{site.baseurl}}{{ next_post.url }}">{{next_post.title}}</a> <br>
      {% endif %}
    <br>
    <hr>

<br>

{% comment %}{% include comments.html %}{% endcomment %}

{% if page.comments %}
<div id="disqus_thread"></div>
<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = "{{site.url}}{{page.url}}";  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = "{{ page.id }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://embedded-course.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
{% endif %}